@charset "utf-8";

body{
  background-color: #FFF;
  margin: 0;
  border: 0;
  font-family: 'goudy-old-style', Georgia, serif;
  font-weight: normal;
  font-size: 62.5%;
  color: black;
}

h1, h2, h3 {
  text-align: center;
}

h1, h2 {
  font-family: 'goudy-old-style', Georgia, serif;
  font-weight: bold;
}

h1{
  font-size: 29px;
}

h2{
  font-size: 24px;
  line-height: 2rem;
}

h3{
  font-family: 'helvetica', arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
}

p {
  font-size: 19px;
}

a {
  color: inherit;
  text-decoration: none;
}

#container, header, main, img, .line, .address, .email {
   margin: 0 auto;
   border: 0;
}

header {
  height: 120px;
  width: 220px;
}

main {
  max-width: 570px;
}

footer{
   background-color: black;
   text-align: center;
   width: 100%;
   height: 144px;
   display: block;
}

#container{
   background-color: transparent;
   width: 100%;
}

.content {
  height: auto;
  text-align: justify;
}

.cover {
  display: flex;
  max-width: 220px;
}

.first-row {
  max-width: 420px;
  height: auto;
  margin: 4rem auto;
}

.row {
  height: auto;
  max-width: 550px;
  margin: 0 10px;
}

.paragraph {
  line-height: 1.5;
}

.line {
  width: 90%;
  height: 1px;
  background-color: black;
  clear: both;
}

.headline {
  float: right;
  vertical-align: middle;
  padding-top: 35px;
}

.logo {
  float: left;
  padding-top: 35px;
  height: 60px;
}

.light {
  color: #898989;
}

.v-centered {
  padding-top: 40px;
  margin: 0 10px;
  line-height: 2.1rem;
}

.address, .email {
  vertical-align: middle;
  font-size: 18px;
  font-family: 'helvetica', arial, sans-serif;
  font-weight: normal;
  color: white;
}

@media only screen and (max-width: 420px) and (min-width: 300px) {

  .v-centered {
    padding-top: 25px;
  }

}
